@font-face {
    font-family: HankenGrotesk;
    src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf");
}

@font-face {
    font-family: HankenGrotesk;
    src: url("../fonts/static/HankenGrotesk-Bold.ttf");
    font-weidght: bold;
}

@font-face {
    font-family: HankenGrotesk;
    src: url("../fonts/static/HankenGrotesk-ExtraBold.ttf");
    font-weight: bolder;
}

@font-face {
    font-family: HankenGrotesk;
    src: url("../fonts/static/HankenGrotesk-Medium.ttf");
    font-weight: normal;
}

:root {
    /* Primary */
    --light-red: hsla(0, 100%, 67%, 10%);
    --orangey-yellow: hsla(39, 100%, 56%, 10%);
    --green-teal: hsla(166, 100%, 37%, 10%);
    --cobalt-blue: hsla(234, 85%, 45%, 10%);

    /* Gradients */
    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royal-blue-background: hsl(241, 81%, 54%);

    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* Fonts */
    --font-size-paragraph: 18px;
}

* {
    padding: 0;
    margin: 0;

    font-family: HankenGrotesk;
    overflow-x: hidden;
}

body {
    min-height: 100vh;

    display: grid;
    place-items: center;

    background-color: #fbf9ff;
    background-color: black;
}

main {
    display: flex;
}

#result-tab {
    background: linear-gradient(180deg, var(--light-slate-blue-background) 0%, var(--light-royal-blue-background) 100%);
    width: 225px;
    height: 350px;

    display: grid;
    place-items: center;

    padding: 20px;
    border-radius: 20px;
    z-index: 2;
}

#result-tab>* {
    color: var(--white);
    text-align: center;
}

#result-tab>p {
    font-size: var(--font-size-paragraph);
    opacity: 70%;
}

#result-tab>h2 {
    font-weight: 700;
}

#result-tab .performance-commentary {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

#result-tab .result-circle {
    background: var(--violet-blue-circle);
    border-radius: 50%;

    width: 125px;
    height: 125px;

    display: grid;
    place-items: center;
}

#result-tab .result-circle h1 {
    position: relative;
    top: 15px;

    font-size: 40px;
}

#result-tab .result-circle p {
    position: relative;
    bottom: 20px;
}

#summary-tab {
    background-color: var(--white);
    width: 300px;
    border-radius: 0px 200=px 20px 0px;
    padding: 20px;

    position: relative;
    right: 15px;

    display: grid;
    place-items: center;
}

#summary-tab .result-container {
    display: inline-flex;
    align-items: center;

    position: relative;
    bottom: 20px;
}

#summary-tab .result-container> * {
    margin-left: 10px;
}

#summary-tab .result-container > p {
    width: 100%;
}

#summary-tab .result-container .result {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;

    position: relative;
    right: 10px;
}

#summary-tab .summary {
    position: relative;
    bottom: 15px;
}

#summary-tab>.result-container {
    overflow: hidden;
    border-radius: 16px;
    width: 90%;
    height: 48px;
    margin-top: 10px;
}


#light-red {
    background-color: var(--light-red)
}

#orangey-yellow {
    background-color: var(--orangey-yellow);
}

#green-teal {
    background-color: var(--green-teal)
}

#cobalt-blue {
    background-color: var(--cobalt-blue);
}

input[type=button] {
    background: var(--dark-gray-blue);
    color: white;

    width: 90%;
    height: 48px;

    cursor: pointer;
    border: 0;
    border-radius: 40px;
}

input[type=button]:hover {
    background: linear-gradient(180deg, var(--light-slate-blue-background) 0%, var(--light-royal-blue-background) 100%);
}

footer {
    position: fixed;
    bottom: 0px;
}

@media screen and (max-width: 605px) {
    main {
        display: block;
        background-color: white;
    }

    #result-tab {
        width: 100vw;
        height: 40vh;
        border-radius: 0;

        border-radius: 0px 0px 80px 80px;
        z-index: 2;
        position: relative;
    }

    #summary-tab {
        width: 100vw;
        height: auto;

        position: inherit;
        transform: translateY(-20px);
    }

    #summary-tab > * {
        margin-top: 20px;
    }

    #summary-tab>.result-container {
        overflow: hidden;
        border-radius: 16px;
    }

}